<?xml version="1.0"?>

<launch>
  <!-- bebop driver and gimbal publisher-->
  <include file="$(find bebop_driver)/launch/bebop_node.launch"/>
  <include file="$(find bebop_gimbal_tf)/launch/bebop_gimbal_tf.launch"/>
  
  <!-- mocap node -->
  <include file="$(find mocap_optitrack)/launch/mocap.launch"/>
  
  <!-- joystick -->
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="/dev/input/js1"/>
  </node>
  
  <!-- joystick control node -->
  <node pkg="homography_vsc_cl" type="joy_stick_arbiter" name="joy_stick_arbiter" output="screen">
  </node>
  
  <!-- bebop velocity publisher -->
  <node pkg="switch_vis_exp" type="filter_node" name="bebop_velocity_filter" ns="bebop_image" />
  
  <!-- bebop body velocity publisher -->
  <node pkg="switch_vis_exp" type="filter_node" name="bebop_vel" output="screen" ns="bebop">
  </node>
  
  <!-- Bebop image pose publisher (i.e. publish pose messages for the corresponding tf) -->
  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" output="screen" >
    <param name="map_frame" value="world" />
    <param name="base_frame" value="bebop_image" />
    <param name="publish_frequency" value="360.0" />
    <param name="is_stamped" value="true" />
    <remap from="robot_pose" to="bebop_image/pose" />
  </node>
  
  <!-- image processing to find markers -->
  <node pkg="homography_vsc_cl" type="image_processing_node" name="image_processing_node" output="screen" />
  
  <!-- Homography decomposition -->
  <node pkg="homography_vsc_cl" type="homography_decomposition_node" name="homography_decomposition_node" output="screen" />
  
  <!-- controller -->
  <!-- <node pkg="homography_vsc_cl" type="controller_node" name="controller_node" output="screen" /> -->
  
  <!-- joystick control node -->
  <!-- <node pkg="homography_vsc_cl" type="joy_stick_arbiter" name="joy_stick_arbiter" output="screen"/> -->
  
</launch>
